body {
  margin: 0;
  font-family: sans-serif;
}


h1, h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #F50057
}

.Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: #E6ECF0;
}

.App {
  height: 91.5vh;
  display: flex;
  z-index: 0;
  background-color: #E6ECF0;
}

.AppBar {
  display: block;
}

.UserPath {
  width: 100vw;
  align-self: center;
}

.Submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Submit {
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.TextField {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.firstInput, .secondInput, .yesButton, .noButton, .loginButton, .registerButton, .leftButton, .rightButton {
  padding: 10px;
}

.backToSelections {
  align-self: flex-start;
  padding: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
}


.LogInForm, .Register {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-self: center;
}

.UserPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.SelectionList {
  width: 60vw;

}

.SelectionContainer {
  height: 70vh;
  overflow: auto;
}

.WordsContainer{
  height: 40vh;
  overflow: auto;
}

.addSelectionButton {
  display: flex;
  flex-direction: column;
}

.PlaceHolder {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.PaperContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WordsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SelectionTitle {
  padding-left: 10px;
}

.Word {
  display: flex;
}

.InputButtonSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.addSelectionInput, .addSelectionButton {
  padding: 5px 10px 5px 10px
}

.Links {
  display: flex;
}


.ChatDesktop {
  display: flex;
  flex-direction: column;
  height: 90.5vh;
  width: 100vw;
  flex-wrap: wrap;
}

.ChatContainer {
  width: 90vw;
  height:70vh;
  background-color: pink;
  align-self: center;
  overflow: auto;
}

.ChatContainerFooter {
  display: flex;
  align-self: center;
  width: 90vw;
}

.InputButtonChat {

}

button {
  height: 3vh;
  width: 15vw;
  padding: 0;
  margin: 0;
  background-color: white;
  border-color:  white white white #E6ECF0;
  /*border-color: white;*/
}
button > p {
  margin: 0;
  font-size: 1.5vh;
}
button:focus {
  outline-color: #F50057;
}
button:hover {
  cursor: pointer;
}

p:focus {
  outline: none;
}

.Input {
  /*width: 75vw;*/
}
input {
  width: inherit;
  padding: 0;
  border-width: 0;
  height: 3vh;
  font-size: 1.5vh;
  width: 75vw;
}

input:focus {
  outline: none;
}
