body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #F50057
}

.Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: #E6ECF0;
}

.App {
  height: 93.5vh;
  display: flex;
  z-index: 0;
  /*background-color: #E6ECF0;*/
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)
}

.AppBar {
  display: block;
}

.UserPath {
  width: 100vw;
  align-self: center;
}

.Submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Submit {
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.Submit > h3 {
  border: solid 2px;
  padding: 1em;
}

.SendElements {
  margin-top: -5vh;
}

.TextField {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.firstInput, .secondInput, .yesButton, .noButton, .loginButton, .registerButton, .leftButton, .rightButton {
  padding: 10px;
}


.backToSelections {
  align-self: flex-start;
  padding: 10px;
}


.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.LogInForm, .Register {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-self: center;
}

.UserPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.SelectionContainer {
  height: 70vh;
  overflow: auto;
}

.WordsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WordsContainer{
  height: 50vw;
  width: 80vw;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  align-content: baseline;
}

.Word {
  cursor: pointer;
  padding: 1vh;
  width: 17vw;
}

.WordsCard {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  height: 3em;
  align-items: center;
}

.WordsCard > p {
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0.5em;
  font-size: 2vh;
}

.addSelectionButton {
  display: flex;
  flex-direction: column;
}

.PlaceHolder {
  text-align: center;
  display: flex;
}

.AddSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PaperContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1vh;
  background-color: white;
  width: 75vw;
  box-shadow: 0px 4px 15px -5px grey;
}

.PaperContainer > a {
  margin-left: 1vh;
}

.DeleteButton {
  margin-right: 1vh;
}

.SelectionTitle {
  padding-left: 10px;
}

.TitleInput {
  padding-bottom: 1vh;
}

.InputButtonSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.addSelectionInput, .addSelectionButton {
  padding: 5px 10px 5px 10px
}

.Links {
  display: flex;
}
