body {
  margin: 0;
  font-family: sans-serif;
}

.LogIn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: #E6ECF0;
}

.LogIn {
  display: flex;
  z-index: 1;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
}

.inputs {
  display: flex;
}

.firstInput, .secondInput {
  padding: 10px;
}
